# local downloaded chart compressed files
/**/charts/*.tgz

# local temporary files
temp*.yaml
temp.sh
/charts/temp/
values_*.y*ml

# NPM packages
node_modules/

# VitePress local files
docs/.vitepress/dist
docs/.vitepress/cache
