name: game-2048
image: devprofr/game-2048
tag: "1.0.8328752292"
replicaCount: 1
port: 80
containerPort: 80
ingress:
  enabled: false
  className: "nginx"
  host: ""
  annotations: {}
    # cert-manager.io/cluster-issuer: letsencrypt-prod
  tls:
    secretName: "game-2048-tls"
resources: {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 64Mi
